{% extends 'base.html' %}
{% block content %}
<article class="my-3" id="floating-labels">
  
      <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        <h3>Заполните форму</h3>
      </div>


      <div>
        <div class="bd-example">
        <form action="/add_product" method="post" enctype="multipart/form-data">
          <div class="col-md-4">
            {{form.name.label(class="form-label")}}
            {{form.name(class="form-control")}}
          </div>
          <div class="col-md-4">
            {{form.price.label(class="form-label")}}
            {{form.price(class="form-control")}}
          </div>
          <div class="col-md-6">
            {{form.description.label(class="form-label")}}
            {{form.description(class="form-control")}}
          </div>
          <div class="col-mb-4">
            {{form.category.label(class="form-label")}}
            {{form.category(class="form-select")}}
            </div>
          <div class="col-mb-4">
            {{form.image.label(class="form-label")}}
            {{form.image(class="form-control")}}
          </div>
          
          <div class="col-md-4">
            <label class="form-label">    </label>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Редактировать</button>
          </div>
        </form>
        </div>
      </div>
    </article>
{% endblock %}