{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <a href="{{url_for('admin.add_category')}}">
        <button type="button" class="btn btn-sm btn-outline-secondary">Создать категорию</button>
      </a>
      <a href="{{url_for('admin.add_product')}}">
        <button type="button" class="btn btn-sm btn-outline-secondary">Новый товар</button>
      </a>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>


  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      {% for p in products_list %}
        <div class="col">
          <div class="card shadow-sm">
            <img class="card-img-top" src="/static/upload/{{p['image']}}" >

            <div class="card-body">
              <p class="card-text">{{p['name']}}</p>
              <p class="card-text">{{p['description']}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{url_for('admin.delete_product', product_id=p['id'])}}">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Удалить</button>
                  </a>
                  <a href="{{url_for('admin.edit_product', pr_id=p['id'])}}">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>
                  </a>
                </div>
                <p class="text-muted">{{p['price']}}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </div>

{% endblock %}
